@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: #F6F9FF;
}

html {
    overflow-x: hidden;
}

.backdrop {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9999999;
    background-color: rgba(0,0,0,0.5);
    transition: all .2s ease-in-out;
}

.container {
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1920px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.green {
    color: #10A142;
}

.red {
    color: #ED3237;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}

header.main {
    width: 100vw;
    height: 10vh;
    position: relative;
    margin: 10px 0;
    &::after {
        content: '';
        position: absolute;
        margin-top: 10px;
        height: 5px;
        width: 100vw;
        background-image: linear-gradient(90deg, rgb(255, 255, 255) 20%, rgba(255,107,0,1) 50%, rgba(255,255,255,1) 80%);
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .menu {
            display: flex;
            align-items: center;
            position: absolute;
            color: #fff;
            padding: 10px;
            left: 0;
            top: -20px;
            border-radius: 0 0 20px 0;
            cursor: pointer;
            background-color: #284277;
            transition: all .2s ease-in-out;
            p {
                margin-left: 40px;
                font-size: 40px;
            }
            i {
                font-size: 40px;
            }
        }
        .profile {
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                margin-right: 25px;
                font-size: 30px;
                color: #FF720C;
                position: relative;
                cursor: pointer;
                .notification {
                    width: 11px;
                    height: 11px;
                    background-color: #FF720C;
                    position: absolute;
                    border-radius: 50%;
                    border: 2px solid #fff;
                    top: 1px;
                    right: 3px;
                }
            }
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
                position: relative;
            }
            .text {
                h6 {
                    font-size: 18px;
                }
                p {
                    font-size: 12px;
                }
            }
        }
        .searchMenu {
            background-color:#F7F9FB;
            padding: 10px;
            border-radius: 8px;
            width: 30vw;
            margin: 0 auto 20px auto;
            button {
                background-color: #fff;
                padding: 5px;
                border: none;
                border-radius: 8px;
                font-size: 16px;
                cursor: pointer;
            }
            input[name="search"] {
                width: 90%;
                padding: 5px;
                border: none;
                background: none;
            }
        }
    }
}

section.main {
    .container {
        padding: 0;
        .flex {
            gap: 100px;
            aside {
                align-content: flex-start;
                background-color: #284277;
                width: 5%;
                height: fit-content;
                border-radius: 0 10px 50px 0;
                padding: 20px;
                display: inline-block;
                z-index: 99999999999999;
                transition: all .2s ease-in-out;
                ul {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    list-style: none;
                    .selector {
                        position: absolute;
                        background-color: #FFE0BB;
                        padding: 20px;
                        border-radius: 15px;
                        top: 0;
                        left: 0;
                    }
                    li {
                        position: relative;
                        z-index: 999;
                        margin: 10px 0;
                        &:last-child {
                            margin-top: 100px;
                        }
                        a {
                            display: inline-block;
                            z-index: 99;
                            color: #FF8A00;
                            position: relative;
                            text-decoration: none;
                            display: flex;
                            &:before {
                                content: '';
                                position: absolute;
                                display: inline-block;
                                z-index: -1;
                                width: auto;
                                left: -10px;
                                top: -10px;
                                padding: 20px;
                                border-radius: 15px;
                                background-color: #FFE0BB;
                                opacity: 0;
                                transition: all .2s ease-in-out;
                            }
                            &:hover:before {
                                opacity: 1;
                            }
                            span {
                                display: none;
                                margin-left: 20px;
                            }
                            i {
                                width: 20px !important;
                                height: 20px !important;
                            }
                        }
                    }
                }
            }
            .flex {
                justify-content: space-around;
                padding-right: 50px;
                flex-direction: column;
                margin-top: 50px;
                .flex {
                    flex-direction: row;
                    .item {
                        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
                        padding: 30px 50px;
                        height: fit-content;
                        position: relative;
                        border-radius: 20px;
                        transition: all .3s ease-in-out;
                        background-color: #fff;
                        h2 {
                            font-size: 36px;
                            color: #272525;
                            margin-bottom: 10px;
                        }
                        h4 {
                            font-size: 18px;
                            color: #272525;
                            font-weight: normal;
                            margin-bottom: 15px;
                        }
                        span {
                            color: #272525;
                            font-size: 14px;
                            display: inline-block;
                            width: max-content;
                            font-weight: 250;
                        }
                        .list {
                            position: absolute;
                            font-size: 26px;
                            top: 30px;
                            right: 30px;
                            padding: 15px;
                            border-radius: 50%;
                        }
                    }
                }
                .flex {
                    margin-top: -50px;
                    .chart {
                        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
                        padding: 10px;
                        border-radius: 20px;
                        width: calc(100%/2.15) !important;
                        background-color: #fff;
                    }
                }
            }
        }
        .top4 {
            background-image: linear-gradient(to right, #284277, #487AF9);
            width: 95%;
            gap: 0 !important;
            padding: 15px;
            border-radius: 20px;
            margin: 50px auto 0 auto;
            .product {
                display: flex;
                align-items: center;
                margin: 0 10px;
                img {
                    max-width: 100px;
                    max-height: 100px;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    h3 {
                        color: #fff;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    .visitas {
                        background-color: #D9D9D9;
                        padding: 5px;
                        border-radius: 10px 10px 10px 0;
                        font-size: 12px;
                        font-weight: 400;
                    }
                    .classificacao {
                        background-color:#87DE72;
                        width: fit-content;
                        padding: 5px;
                        border-radius: 0 0 10px 10px;
                        font-weight: bold;
                    }
                }
            }
        }
        .createAd {
            margin-top: 50px;
            width: 80%;
            margin: 100px auto;
            background-color: #fff;
            position: relative;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            .all {
                margin: 0 auto;
                text-align: center;
                position: relative;
                bottom: 35px;
                display: flex;
                justify-content: space-between;
                width: fit-content;
                .create {
                    border: none;
                    background-color: rgba(72, 122, 249, 0.75);
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 50px;
                    font-size: 26px;
                    cursor: pointer;
                    margin-right: 50px;
                    i {
                        color: rgba(72, 122, 249, 0.75);
                        background-color: #fff;
                        padding: 8px;
                        margin-left: 20px;
                        border-radius: 50%;
                    }
                }
                form {
                    display: flex;
                    input#list {
                        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
                        padding: 20px 20px 20px 30px;
                        border-radius: 25px;
                        border: none;
                        margin-right: 20px;
                        &:focus {
                            outline: none;
                        }
                    }
                    .searchBox {
                        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
                        border-radius: 25px;
                        background-color: #fff;
                        padding: 0 20px 0 0;
                        input#ad {
                            padding: 20px 20px 20px 30px;
                            border-radius: 25px;
                            border: none;
                            &:focus {
                                outline: none;
                            }
                        }
                        button {
                            padding: 10px;
                            background-color: #FF8A00;
                            color: #fff;
                            border-radius: 10px;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1550px) {
    section.main {
        .container {
            .flex {
                gap: 50px;
                .flex {
                    margin-top: 80px;
                    .char {
                        margin-top: 0;
                    }
                    .top4 {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}