@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    overflow: hidden;
    
}

html, body {
    height: 100%;
    background: linear-gradient(to bottom, #fff, #4A7BDD);
}

.container {
    margin: 0 auto;
    padding: 0 2%;
}

.bg {
    position: absolute;
}

.flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr {
    height: 5px;
    background-color: #fff;
    width: 90vw;
    border: none;
}

.button {
    background-image: linear-gradient(to bottom, #ff8a00, #ff6b00);
    padding: 10px 30px;
    font-size: 30px;
    max-width: 400px;
    width: 100%;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    margin: 50px;
    text-decoration: none;
    p {
        margin: 0 !important;
    }
}

section.main {
    .container {
        .flex {
            img {
                margin-bottom: 50px;
            }
            hr {
                margin: 20px 0 ;
            }
            h2 {
                font-size: 50px;
                color: #fff;
                margin: 20px 0;
            }
            p {
                max-width: 600px;
                text-align: center;
                font-size: 30px;
                color: #fff;
                margin: 20px 0;
            }
        }
    }
}